.Button {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e052a0),
    to(#f15c41)
  );
  display: inline;
  background-image: linear-gradient(to right, #e052a0, #f15c41);
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  white-space: nowrap;
  z-index: 2;
  border: none;
  border-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: 16px;
  max-height: 38px;

  &:disabled {
    visibility: hidden;
  }

  &:hover {
    background-image: linear-gradient(to right, #3e4ee0, #526bf4);
  }

  &:focus {
    outline: 0 none;
    outline-color: initial;
    outline-style: none;
    outline-width: 0px;
    &::after {
      content: "";
      box-shadow: 0 0 0 0 transparent;
      border-radius: 2px;
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
}
