.ItemIcon {
  display: inline-block;
  height: 64px;
  width: 64px;
  position: relative;
  background-size: contain;
  border: 0;
  box-shadow: inset 0 0 3px yellow;

  &:not(:disabled) {
    &:hover {
      box-shadow: inset 0 0 10px yellow;
    }
  }
}

.ItemCountDisplay {
  position: absolute;
  font-size: 16px;
  height: 24px;
  width: 24px;
  background: black;

  right: 1px;
  bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.ItemCountDisplay-Text {
  color: yellowgreen;
  &--negative {
    color: yellow;
  }
}

@media (max-width: 768px) {
  .ItemIcon {
    height: 48px;
    width: 48px;
  }

  .ItemCountDisplay {
    font-size: 14px;
    height: 26px;
    width: 26x;
  }
}

@media (max-width: 640px) {
  .ItemIcon {
    height: 40px;
    width: 40px;
  }

  .ItemCountDisplay {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .ItemIcon {
    height: 30px;
    width: 30px;
  }

  .ItemCountDisplay {
    height: 15px;
    width: 15px;
  }
}
